<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%if(user){ console.log(user)%>
    <div>Welcome Back !</div>
    <div><%=user.firstname%></div>
    <a href="newMessage">Create A new Message !</a>
    <%if(!user.ismember){%>
    <p>Become a member by clicking <a href="becomeMember">here</a>.</p>
    <%if(messages){%>
    <div>
      <ul>
        <%for(let message of messages){%>
        <li><%=message.message%></li>
        <%}%>
      </ul>
    </div>
    <%}%> <%}%> <%if(user.ismember){%> <%if(messages){%>
    <div>
      <ul>
        <%for(let message of messages){%>
        <li><%=message.message%> By : <%=message.author%></li>
        <%}%>
      </ul>
    </div>
    <%}%> <%}%>
    <a href="/logout">Log Out</a>
    <%}else{%>
    <a href="login">Login</a>
    <a href="signup">Signup</a>
    <%for(let user of users){%>
    <ul>
      <ul>
        <li><%=user.username%></li>
        <li><%=user.firstname%> <%=user.lastname%></li>
      </ul>
    </ul>
    <%}%> <%}%>
  </body>
</html>
